<h1>Welcome {{name}}</h1>
<h1>This is main page</h1>

<div class="container-sm black ">
  <div class="container">
    <div class="row">
      <h1 class="text-center">{{title}}</h1>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Выйти из системы</a>
        </li>
      </ul>
    </div>
  </div>
</div>
