<link rel="stylesheet" href="/stylesheets/styleAttention.css">
<div class="container-sm black ">
  <h1 class="text-center">WEB SHOP</h1>
  <div class="container">
    <div class="row">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/auth">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reg">registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/out">leave the page</a>
        </li>
      </ul>
    </div>
  </div>
  <h4 class="text-center">{{title}}</h4>
</div>
